@import url(avenir-min.css);
body {
  font-family: 'Avenir-Book';
  font-size: 14px;
  padding-top: 50px; }

.img-center {
  margin: 0 auto; }

/* --- navbar --- */
.main-nav {
  background-color: #fff;
  height: 70px; }
  .main-nav .navbar-brand {
    padding: 0;
    padding-top: 10px; }
    @media screen and (max-width: 768px) {
      .main-nav .navbar-brand {
        padding-left: 10px; } }
  .main-nav .navbar-collapse .navbar-nav {
    margin-left: 112px;
    padding-top: 18px; }
    .main-nav .navbar-collapse .navbar-nav li > a {
      font-family: 'Avenir-Heavy';
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.86;
      letter-spacing: 0.2px;
      color: #181818;
      padding: 10px 37px;
      -webkit-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
      .main-nav .navbar-collapse .navbar-nav li > a:hover, .main-nav .navbar-collapse .navbar-nav li > a:focus {
        background-color: transparent;
        color: #26e0bd; }
  .main-nav .navbar-collapse .request-demo {
    padding: 8px 22px;
    border-color: #26e0bd;
    border-radius: 100px;
    border: 1.5px solid;
    color: #26e0bd;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s; }
    .main-nav .navbar-collapse .request-demo:hover, .main-nav .navbar-collapse .request-demo:focus {
      background-color: #26e0bd;
      color: #fff; }
    @media screen and (max-width: 768px) {
      .main-nav .navbar-collapse .request-demo {
        display: block;
        margin: 0 auto; } }
  .main-nav .navbar-toggle {
    border-color: transparent; }
    .main-nav .navbar-toggle:hover, .main-nav .navbar-toggle:active, .main-nav .navbar-toggle:focus {
      background-color: transparent; }
    .main-nav .navbar-toggle .icon-bar {
      background-color: #181818; }
    @media screen and (max-width: 768px) {
      .main-nav .navbar-toggle {
        margin-top: 15px; } }

/* change the bootstrap navbar breakpoint to 1200px */
@media (max-width: 1200px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in, .collapsing {
    display: block !important;
    background: #fff;
    margin-top: 10px; } }

/* --- header --- */
.circle-header {
  height: 641px;
  background-image: -webkit-linear-gradient(322deg, #ff564b, #ff5648 49%, #fa6037);
  background-image: linear-gradient(128deg, #ff564b, #ff5648 49%, #fa6037);
  -webkit-clip-path: circle(46% at 27% 23%);
  clip-path: circle(46% at 27% 23%); }
  .circle-header h1 {
    font-family: 'Avenir-Black';
    font-size: 44px;
    font-size: 3vw;
    line-height: 1.27;
    margin-top: 158px;
    color: #fff; }
    @media (max-width: 666.666666667px) {
      .circle-header h1 {
        font-size: 20px; } }
    @media (min-width: 1466.66666667px) {
      .circle-header h1 {
        font-size: 44px; } }

/* --- Page content --- */
.client-logos {
  margin-top: -220px;
  background-color: #fff;
  position: relative;
  margin-bottom: 48px; }
  .client-logos .second-nav {
    padding-top: 10px;
    background-color: #fff;
    border-color: #bababa;
    position: absolute; }
    .client-logos .second-nav .navbar-collapse {
      margin-left: 15px; }
      .client-logos .second-nav .navbar-collapse ul li > a {
        border-bottom: 0.5px solid #bababa;
        color: #3c3c40;
        padding: 25px 40px;
        font-family: 'Avenir-Heavy';
        font-size: 14px;
        line-height: 1.71; }
        .client-logos .second-nav .navbar-collapse ul li > a:hover, .client-logos .second-nav .navbar-collapse ul li > a:focus, .client-logos .second-nav .navbar-collapse ul li > a.active {
          background-color: #fff;
          color: #26e0bd;
          border-bottom: 3px solid;
          padding-bottom: 23px;
          cursor: pointer; }
      .client-logos .second-nav .navbar-collapse ul li i {
        font-weight: 900; }
  .client-logos .clients-scroll {
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 70px;
    overflow: hidden;
    height: 500px;
    background-color: #fff;
    /* clearfix */ }
    .client-logos .clients-scroll .grid:after {
      content: '';
      display: block;
      clear: both; }
    .client-logos .clients-scroll .element-item {
      position: relative;
      float: left;
      width: 119px;
      height: 65px;
      margin: 30px;
      padding: 0; }
      .client-logos .clients-scroll .element-item > * {
        margin: 0;
        padding: 0; }
      .client-logos .clients-scroll .element-item img {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  .client-logos .show-more-button {
    margin-top: 10px;
    text-align: center; }
    .client-logos .show-more-button .show-more {
      font-family: 'Avenir-Heavy';
      font-size: 14px;
      line-height: 1.71;
      color: #181818;
      background-color: #fff;
      border-color: #e4e4e4;
      border-radius: 0;
      padding: 8px 43px; }

/* --- container see-how --- */
.see-how .h2 {
  margin-top: 55px;
  margin-bottom: 40px;
  font-family: 'Avenir-Heavy';
  font-size: 24px;
  line-height: 1.42;
  text-align: center;
  color: #181818; }

.see-how .rectangle-category {
  margin-bottom: 30px;
  padding: 0 15px 35px 15px;
  box-shadow: 0 1px 2px 0.5px rgba(186, 186, 186, 0.3);
  border-radius: 4px; }

.see-how .bitmap {
  margin: 0 -15px;
  border-radius: 4px 4px 0 0;
  background-color: #264563;
  position: relative; }
  .see-how .bitmap img {
    border-radius: 4px 4px 0 0; }
  .see-how .bitmap .cat-name {
    position: absolute;
    left: 20px;
    bottom: -15px;
    padding: 6px 13px;
    background-color: #ff564b;
    font-size: 12px;
    font-weight: 900;
    color: #fff; }

.see-how .post-title h2 a {
  margin-top: 29px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
  text-align: left;
  line-height: 1.19;
  color: #3c3c40;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }
  .see-how .post-title h2 a:hover, .see-how .post-title h2 a:focus {
    color: #26e0bd !important;
    text-decoration: none; }

.see-how .excerpt {
  margin-bottom: 10px; }
  .see-how .excerpt p {
    font-size: 14px;
    text-align: left;
    line-height: 1.43;
    letter-spacing: -0.1px;
    color: #264563; }

.see-how .post-tags {
  position: absolute;
  bottom: 30px;
  border-top: solid 1px #e4e4e4;
  width: 80%;
  padding-top: 5px; }
  @media screen and (min-width: 650px) and (max-width: 992px) {
    .see-how .post-tags {
      width: 90%;
      bottom: 0px; } }
  @media screen and (max-width: 649px) {
    .see-how .post-tags {
      width: 85%;
      bottom: 0px; } }
  .see-how .post-tags a {
    float: left;
    margin-top: 2px;
    margin-bottom: 11px; }
  .see-how .post-tags .social-icons {
    float: right; }
    .see-how .post-tags .social-icons a {
      margin: 2px 0px 11px 8px; }
    .see-how .post-tags .social-icons .fa-facebook {
      color: #3b5999; }
    .see-how .post-tags .social-icons .fa-twitter {
      color: #55acee; }
    .see-how .post-tags .social-icons .fa-linkedin {
      color: #0077b5; }
  .see-how .post-tags .tag {
    font-size: 12px;
    font-weight: 500;
    color: #bababa;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; }
    .see-how .post-tags .tag:hover, .see-how .post-tags .tag:focus {
      color: #26e0bd !important; }

/* --- container share --- */
.share {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1; }
  .share h2 {
    margin-bottom: 20px;
    font-family: 'Avenir-Heavy';
    font-size: 24px;
    line-height: 1.42;
    text-align: center;
    color: #181818; }

/* --- container-fluid circle-bg --- */
.circle-bg {
  background-color: #2feccf;
  position: relative;
  -webkit-clip-path: circle(85% at 50% 170%);
          clip-path: circle(85% at 50% 170%);
  margin-top: -190px; }
  .circle-bg .get-started {
    text-align: center;
    margin-top: 108px;
    margin-bottom: 122px; }
    .circle-bg .get-started p {
      font-size: 24px;
      font-family: 'Avenir-Heavy';
      color: #fff; }
    .circle-bg .get-started .request-demo {
      margin-left: 20px;
      padding: 6px 18px;
      background-color: #ff564b;
      border-color: #ff564b;
      font-size: 12px;
      color: #fff; }

/* --- footer --- */
footer {
  background-image: -webkit-linear-gradient(344deg, #1d3853, #264563);
  background-image: linear-gradient(106deg, #1d3853, #264563);
  padding-top: 90px; }
  footer .footer-nav {
    padding-bottom: 78px; }
    footer .footer-nav h3 {
      font-family: 'Avenir-Heavy';
      font-size: 14px;
      font-weight: 900;
      line-height: 1.71;
      color: #fff; }
    footer .footer-nav .list-group {
      list-style: none;
      margin-bottom: 0px !important; }
      footer .footer-nav .list-group li, footer .footer-nav .list-group li > a {
        font-family: 'Avenir-Book';
        line-height: 2.17;
        letter-spacing: 0.4px;
        color: #fff; }
      footer .footer-nav .list-group.right {
        float: right; }
        @media screen and (min-width: 993px) {
          footer .footer-nav .list-group.right li {
            float: left; } }
  footer .footer {
    background-color: #1b344c;
    padding-top: 28px;
    padding-bottom: 31px; }
    footer .footer p {
      color: #fff;
      opacity: 0.5;
      letter-spacing: 0.2px; }
    footer .footer form {
      color: #fff;
      opacity: 0.5; }
    footer .footer input[type="email"], footer .footer input[type="text"] {
      height: 35px;
      border: 0;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear;
      box-shadow: none;
      border-bottom: 1px solid #e7e7e7;
      background-color: transparent;
      border-radius: 0px;
      padding: 10px; }
    footer .footer input:hover, footer .footer input:focus {
      outline: none;
      box-shadow: none;
      border-color: #ccc; }
    footer .footer .btn-login {
      background-color: transparent;
      outline: none;
      height: auto;
      padding: 6px 10px;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 0px;
      box-shadow: none; }
    footer .footer .btn-login:hover,
    footer .footer .btn-login:focus {
      color: #fff; }
